 html, body, #map {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }
div#footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 6px;
    z-index: 2;
    background: WHITE;
}

.custom_legend {
        background: transparent;
        padding: 10px;
        position:relative;
        }
.custom_legend ul {list-style-type: none}
.custom_legend li {float: left; margin-right: 50px;}
.custom_legend span {border: 1px solid #000000; float: left; width: 20px; height: 20px; margin: 5px;}
.custom_legend .high-parkings {background-color: #00FF00;vertical-align: middle;}
.custom_legend .medium-parkings {background-color: #FF9900;vertical-align: middle;}
.custom_legend .low-parkings {background-color: #CC0000;vertical-align: middle;}
.custom_legend .notdefined-parkings {background-color: #C0C0C0;vertical-align: middle;}
.custom_legend h5 {display:inline;vertical-align: middle}
