<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ static_url("map.css") }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&sensor=false"></script>
        <script type="text/javascript" src="{{ static_url("map.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("utils.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("websocketHandler.js") }}"></script>
         <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
              <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        <title>APP-OSTO</title>
    </head>
    <body>
        <nav class='navbar navbar-inverse navbar-static-top' role='navigation'>
            <div class='container-fluid'>

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class='navbar-brand' href='index.html'>APP-osto</a>
                </div>

                <div class="navbar-collapse collapse" id='navbar-menu' >
                  <ul class='nav navbar-nav navbar-left'>
                    <li><a href='/'>Mappa</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="menuLogin">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">
                            Registrati
                        <b class="caret"></b>    
                        </a>
                            <div class="dropdown-menu" style="padding:17px;width:400px;" id="signup-div">
                              <form class="form" id="formRegistration" method='post' action='/register'> 
                                <fieldset class='textbox' style="padding:10px">
                                    <div id="legend">
                                      <legend class="">Inserisci i tuoi dati</legend>
                                    </div>
                                    <input class="form-control" style="margin-top: 8px" type="text" name="username" id="username" placeholder="Username" required/>  
                                    <input class="form-control" style="margin-top: 8px" type="email" name="email" id="email" placeholder="Email" required/>
                                    <div class='row'>
                                        <div class="col-md-6">
                                            <input class="form-control" style="margin-top: 8px" name="password" id="password" type="password" placeholder="Passsword" onchange="validatePasswords()" required/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" style="margin-top: 8px" name="confirmPassword" id="confirmPassword" type="password" placeholder="Conferma password" onchange="validatePasswords()" required/>    
                                        </div>
                                    </div>
                                    <input style="margin-top: 8px" class="btn btn-primary btn-lg btn-block" name="register" type="submit" value="Registrami" />
                                </fieldset>
                              </form>
                            </div>
                    </li>
                    <li class="dropdown" id="menuLogin">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">
                            Login
                        <b class="caret"></b>    
                        </a>
                            <div class="dropdown-menu" style="padding:17px;width: 300px;">
                              <form class="form" id="formLogin" method='post' action='/login'> 
                                <fieldset class='textbox' style="padding:10px">
                                    <div id="legend">
                                      <legend class="">Login</legend>
                                    </div>
                                   <input class='form-control' style="margin-top: 8px" type="text" placeholder="Username" required />
                                   <input class='form-control'style="margin-top: 8px" type="password" placeholder="Passsword" required />
                                   <input style="margin-top: 8px" class="btn btn-primary btn-lg btn-block" name="commit" type="submit" value="Log In" />
                                </fieldset>
                              </form>
                            </div>
                    </li>
                  </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                <div id="left-column"> 
                    <div class="well">
                        <h3>Pannello utente</h3>
                        <p>
                            <input class='form-control' id='search_address' placeholder='Inserisici un indirizzo' type='text' />
                        </p>
                        <p>
                            <button type='button' id='search_button' class="btn btn-primary btn-lg">
                                Cerca
                            </button>
                            <button type='button' id='reset_button' class='btn btn-default btn-lg'>
                                Reset
                            </button>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div id="map"></div>
            </div> 
            </div>                  
        </div> <!-- end container-fluid -->

        <script type="text/javascript">
        get_my_position(function(center) {
        	$("document").ready(function() {create_connection(center, "{{feAddress}}", "{{fePort}}")});
        });

        $(window).resize(function () {
          var h = $(window).height(),
            offsetTop = 105; // Calculate the top offset
        
          $('#map').css('height', (h - offsetTop));
        }).resize();

        var autocomplete = new google.maps.places.Autocomplete($('#search_address')[0]);

        $('#search_button').click(function()
        {
            var place = autocomplete.getPlace();
            centerMap(place.geometry.location);
        });

        $('#reset_button').click(function()
        {
            $('#search_address').val('');
            get_my_position(function(center) {
                centerMap(center);
            });
        });

        function validatePasswords()
        {

            var password = $('#password').val();
            var conf_password = $('#confirmPassword').val();
            if(password!=conf_password)
                document.getElementById("confirmPassword").setCustomValidity("Le password non sono uguali");
            else
                document.getElementById("confirmPassword").setCustomValidity("");
        };            
        </script>
        {% if signup != None or signup == "" %}
            
            <script type="text/javascript"> 
                $('#navLogin').click();
                var div = $('<div class="form-control" style="margin-top: 8px;border:none" />');
                div.text("{{signup}}");
                $('#formRegistration').append(div);
                get_my_position(function(center) {
                create_connection(center, "{{feAddress}}", "{{fePort}}");
                {% set  globals()['signup'] = "" %}
        });
            </script>
            
        }
        {% end %}

    </body>
</html>